# ── Copy to .env and adjust ───────────────────────────────
SPRING_PROFILES_ACTIVE=dev

# PostgreSQL
POSTGRES_DB=umsdb
POSTGRES_USER=ums_user
POSTGRES_PASSWORD=ums_pass
POSTGRES_PORT=5432

# Redis
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=

# JWT — generate with: openssl rand -base64 64
JWT_SECRET=bXlTdXBlclNlY3JldEtleVRoYXRJc0xvbmdFbm91Z2hGb3JITWFDMTI4Qml0cw==
JWT_EXPIRATION_MS=86400000

# App
SERVER_PORT=8080

# Grafana
GRAFANA_PASSWORD=admin
